{{ $ := .root }}
{{ $page := .page }}
{{ $columns := $page.Params.design.columns | default "2" }}

<!-- Experience widget -->
<div class="col-12 {{if eq $columns "2"}}col-lg-8{{end}}">
{{ with $page.Content }}{{ . }}{{ end }}

{{ if $page.Params.experience }}
{{ $exp_len := len $page.Params.experience }}
{{ range $idx, $key := sort $page.Params.experience ".date_start" "desc" }}
<div class="row experience">
  <!-- Timeline -->
  <div class="col-auto text-center flex-column d-none d-sm-flex">
    <div class="row h-50">
      <div class="col {{if gt $idx 0}}border-right{{end}}">&nbsp;</div>
      <div class="col">&nbsp;</div>
    </div>
    <div class="m-2">
      <span class="badge badge-pill border {{if not .date_end}}exp-fill{{end}}">&nbsp;</span>
    </div>
    <div class="row h-50">
      <div class="col {{if lt $idx (sub $exp_len 1)}}border-right{{end}}">&nbsp;</div>
      <div class="col">&nbsp;</div>
    </div>
  </div>
  <!-- Content -->
  <div class="col py-2">
    <div class="card">
      <div class="card-body">
        <div class="section-subheading card-title exp-title text-muted my-0" style="float:left">{{.title | markdownify | emojify}}</div>
        <div class="exp_date text-muted" style="float:right">
          {{ (time .date_start).Format ($page.Params.date_format | default "January 2006") }} –
          {{ if .date_end}}
          {{ (time .date_end).Format ($page.Params.date_format | default "January 2006") }}
          {{else}}
          {{ i18n "present" | default "Present" }}
          {{end}}
        </div>
        <div class="exp_comp  my-0 text-muted" style="clear: both;float:left">
          {{.company| markdownify}}
        </div>
        <div class="exp_location text-muted" style="float:right">
          {{.location| markdownify}}
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
{{end}}
</div>
